# Miniprojeto Pandas
  
Você vai receber 3 bases para carregar, manipular e gerar novas bases.  
- 1_demografico.csv  
- 2_renda_gastos.csv  
- 3_bens.csv 
  
As bases tem dados demográficos, renda/gastos e bens de famílias da Filipinas.

```
Renda familiar total
Região
Despesa Total de Alimentos
Principal fonte de renda
Indicador Agrícola Doméstico
Despesas com Pão e Cereais
Despesa total de arroz
Gastos com carne
Despesas totais com peixes e produtos marinhos
Despesas com frutas
Gastos com vegetais
Despesas com restaurantes e hotéis
Despesas com bebidas alcoólicas
Despesas com tabaco
Despesas com roupas, calçados e outras despesas
Despesas com habitação e água
Valor imputado do aluguel da casa
Despesas com cuidados médicos
Despesas de transporte
Despesas de comunicação
Despesas com educação
Despesas com bens e serviços diversos
Despesas para ocasiões especiais
Despesas de cultivo agrícola e jardinagem
Renda total de atividades empreendedoras
Sexo Chefe da Família
Idade do chefe da família
Estado civil do chefe da família
Nível mais alto de chefe de família concluído
Indicador de emprego ou negócio de chefe de família
Ocupação do chefe da família
Chefe de família da classe de trabalhador
Tipo de família
Número total de membros da família
Membros com idade inferior a 5 anos
Membros com idade de 5 a 17 anos
Número total de membros da família empregados
Tipo de construção / casa
Tipo de telhado
Tipo de paredes
Área do piso da casa
House Age
Numero de quartos
Status de posse
Instalações sanitárias
Eletricidade
Fonte Principal de Abastecimento de Água
Número de televisão
Número de CD / VCD / DVD
Número de conjunto de componente / estéreo
Número de geladeira / freezer
Número da máquina de lavar
Número do ar condicionado
Número de carro, jipe, van
Número de telefones fixos / sem fio
Número de telefone celular
Número do computador pessoal
Número de fogão com forno / fogão a gás
Número de banco motorizado
Número de motocicleta / triciclo
```
  
#### Você deve:  
1) Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.  

2) Faca um relatório no qual cada variável quantitativa deve ter:
- Mínimo
- Primeiro Quartil
- Mediana
- Terceiro Quartil
- Máximo
- Média  
  
3) Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:  
<img src="https://escoladedados.org/wp-content/uploads/2019/06/Captura-de-Tela-2019-06-13-a%CC%80s-14.46.46-1024x498.png" width=350>
  
4) Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:
  
5) Faca um relatório no qual cada variável qualitativa deve ter:
- Frequência Absoluta
- Frequência Acumulada
- Frequência Relativa
- Frequência Relativa Acumulada  
  
**Exemplo:**  
<img src="http://umolharmatematico.weebly.com/uploads/2/5/7/9/25795733/8634702_orig.png " width=450>
   
6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv  
  
7) Criar os dummies para pelo menos 3 das variáveis qualitativas  
  
8) Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante
  
## Não se esqueca assim de acabar de realizar o projeto responder:  
https://forms.gle/JRtrHrrSdoq65yDm8

In [156]:
from IPython.display import Image, display
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [197]:
#Pandas
#Importar todos os dados
#Questão 1
df3 = pd.read_csv('3_bens.csv',sep=";")
df2 = pd.read_csv('2_renda_gastos.csv',sep=";")
df1 = pd.read_csv('1_demografico.csv',sep=";")

In [198]:
#Concatenar todos os dados formando um só DataFrame
df = pd.concat([df1, df2, df3], axis=1)
df

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,...,0,1,0,0,0,4,0,0,0,0
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,...,1,0,0,0,0,1,0,0,0,0
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,...,0,0,0,0,0,3,0,0,0,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,...,0,0,0,0,0,4,0,0,0,0
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,...,1,0,0,0,0,0,0,1,0,1

In [199]:
#Eliminar todas as colunas iguais
#df = df.T.drop_duplicates().T
df = df.loc[:,~df.columns.duplicated()]
df.dtypes

ID                                                int64
Region                                           object
Main Source of Income                            object
Agricultural Household indicator                  int64
Household Head Sex                               object
Household Head Age                                int64
Household Head Marital Status                    object
Household Head Class of Worker                   object
Type of Household                                object
Total Number of Family members                    int64
Members with age less than 5 year old             int64
Members with age 5 - 17 years old                 int64
Total number of family members employed           int64
Type of Building/House                           object
Type of Walls                                    object
House Floor Area                                  int64
House Age                                         int64
Number of bedrooms                                int64
Electricity                                       int64
Total Household Income                            int64
Total Food Expenditure                            int64
Bread and Cereals Expenditure                     int64
Total Rice Expenditure                            int64
Meat Expenditure                                  int64
Total Fish and  marine products Expenditure       int64
Fruit Expenditure                                 int64
Vegetables Expenditure                            int64
Restaurant and hotels Expenditure                 int64
Alcoholic Beverages Expenditure                   int64
Tobacco Expenditure                               int64
Clothing, Footwear and Other Wear Expenditure     int64
Housing and water Expenditure                     int64
Imputed House Rental Value                        int64
Medical Care Expenditure                          int64
Transportation Expenditure                        int64
Communication Expenditure                         int64
Education Expenditure                             int64
Miscellaneous Goods and Services Expenditure      int64
Special Occasions Expenditure                     int64
Crop Farming and Gardening expenses               int64
Total Income from Entrepreneurial Acitivites      int64
Number of Television                              int64
Number of CD/VCD/DVD                              int64
Number of Component/Stereo set                    int64
Number of Refrigerator/Freezer                    int64
Number of Washing Machine                         int64
Number of Airconditioner                          int64
Number of Car, Jeep, Van                          int64
Number of Landline/wireless telephones            int64
Number of Cellular phone                          int64
Number of Personal Computer                       int64
Number of Stove with Oven/Gas Range               int64
Number of Motorized Banca                         int64
Number of Motorcycle/Tricycle                     int64
dtype: object

In [200]:
#Lista de cabeças do dataframe
heads = list(df.columns.values)
print(heads)

['ID', 'Region', 'Main Source of Income', 'Agricultural Household indicator', 'Household Head Sex', 'Household Head Age', 'Household Head Marital Status', 'Household Head Class of Worker', 'Type of Household', 'Total Number of Family members', 'Members with age less than 5 year old', 'Members with age 5 - 17 years old', 'Total number of family members employed', 'Type of Building/House', 'Type of Walls', 'House Floor Area', 'House Age', 'Number of bedrooms', 'Electricity', 'Total Household Income', 'Total Food Expenditure', 'Bread and Cereals Expenditure', 'Total Rice Expenditure', 'Meat Expenditure', 'Total Fish and  marine products Expenditure', 'Fruit Expenditure', 'Vegetables Expenditure', 'Restaurant and hotels Expenditure', 'Alcoholic Beverages Expenditure', 'Tobacco Expenditure', 'Clothing, Footwear and Other Wear Expenditure', 'Housing and water Expenditure', 'Imputed House Rental Value', 'Medical Care Expenditure', 'Transportation Expenditure', 'Communication Expenditure', 'Education Expenditure', 'Miscellaneous Goods and Services Expenditure', 'Special Occasions Expenditure', 'Crop Farming and Gardening expenses', 'Total Income from Entrepreneurial Acitivites', 'Number of Television', 'Number of CD/VCD/DVD', 'Number of Component/Stereo set', 'Number of Refrigerator/Freezer', 'Number of Washing Machine', 'Number of Airconditioner', 'Number of Car, Jeep, Van', 'Number of Landline/wireless telephones', 'Number of Cellular phone', 'Number of Personal Computer', 'Number of Stove with Oven/Gas Range', 'Number of Motorized Banca', 'Number of Motorcycle/Tricycle']

In [203]:
#Questão 2
nomes = []
media = []
maximo = []
minimo = []
mediana = []
q1 = []
q3 =[]

   
def func2(nome):
    if df[nome].dtype != 'O':
        nomes.append(nome)
        maximo.append(df[nome].max())
        minimo.append(df[nome].min())
        q1.append(df[nome].quantile(q=0.25))
        q3.append(df[nome].quantile(q=0.75))
        mediana.append(df[nome].median())
        media.append(round(df[nome].mean(),2))

for nome in heads[1:]:
    func2(nome)
    
#func2('Total Number of Family members')

dados = {
    'ID': nomes,
    'Média': media,
    'Máximo': maximo,
    'Minímo': minimo,
    'Q1': q1,
    'Mediana': mediana,
    'Q3': q3,
}

rel = pd.DataFrame(dados)
rel

,ID,Média,Máximo,Minímo,Q1,Mediana,Q3
0,Agricultural Household indicator,0.43,2,0,0.00,0.0,1.00
1,Household Head Age,51.38,99,9,41.00,51.0,61.00
2,Total Number of Family members,4.64,26,1,3.00,4.0,6.00
3,Members with age less than 5 year old,0.41,5,0,0.00,0.0,1.00
4,Members with age 5 - 17 years old,1.36,8,0,0.00,1.0,2.00
5,Total number of family members employed,1.27,8,0,0.00,1.0,2.00
6,House Floor Area,55.60,998,5,25.00,40.0,70.00
7,House Age,20.13,200,0,10.00,17.0,26.00
8,Number of bedrooms,1.79,9,0,1.00,2.0,2.00
9,Electricity,0.89,1,0,1.00,1.0,1.00
10,Total Household Income,247555.58,11815988,11285,104895.00,164079.5,291138.50
11,Total Food Expenditure,85099.16,827565,2947,51017.25,72985.5,105635.50
12,Bread and Cereals Expenditure,25133.72,765864,0,16556.00,23324.0,31439.00
13,Total Rice Expenditure,18195.83,758326,0,11020.00,16620.0,23920.00
14,Meat Expenditure,10540.07,261566,0,3353.75,7332.5,14292.00
15,Total Fish and marine products Expenditure,10529.32,188208,0,5504.00,8695.0,13388.00
16,Fruit Expenditure,2550.47,273769,0,1024.75,1820.0,3100.00
17,Vegetables Expenditure,5006.92,74800,0,2873.00,4314.0,6304.25
18,Restaurant and hotels Expenditure,15436.57,725296,0,1930.00,7314.0,19921.25
19,Alcoholic Beverages Expenditure,1085.07,59592,0,0.00,270.0,1299.25
20,Tobacco Expenditure,2294.74,139370,0,0.00,300.0,3146.50
21,"Clothing, Footwear and Other Wear Expenditure",4954.62,356750,0,1365.00,2740.0,5580.00
22,Housing and water Expenditure,38375.47,2188560,1950,13080.00,22992.0,45948.00
23,Imputed House Rental Value,20921.54,1920000,0,6000.00,10800.0,24000.00
24,Medical Care Expenditure,7160.23,1049275,0,300.00,1125.0,4680.00
25,Transportation Expenditure,11806.34,834996,0,2412.00,6036.0,13776.00
26,Communication Expenditure,4095.49,149940,0,564.00,1506.0,3900.00
27,Education Expenditure,7473.50,731000,0,0.00,880.0,4060.00
28,Miscellaneous Goods and Services Expenditure,12522.07,553560,0,3792.00,6804.0,14154.00
29,Special Occasions Expenditure,5265.73,556700,0,0.00,1500.0,5000.00
30,Crop Farming and Gardening expenses,13816.86,3729973,0,0.00,0.0,6312.75
31,Total Income from Entrepreneurial Acitivites,54376.24,9234485,0,0.00,19222.0,65968.75
32,Number of Television,0.86,6,0,0.00,1.0,1.00
33,Number of CD/VCD/DVD,0.44,5,0,0.00,0.0,1.00
34,Number of Component/Stereo set,0.16,5,0,0.00,0.0,0.00
35,Number of Refrigerator/Freezer,0.39,5,0,0.00,0.0,1.00
36,Number of Washing Machine,0.32,3,0,0.00,0.0,1.00
37,Number of Airconditioner,0.13,5,0,0.00,0.0,0.00
38,"Number of Car, Jeep, Van",0.08,5,0,0.00,0.0,0.00
39,Number of Landline/wireless telephones,0.06,4,0,0.00,0.0,0.00
40,Number of Cellular phone,1.91,10,0,1.00,2.0,3.00
41,Number of Personal Computer,0.32,6,0,0.00,0.0,0.00
42,Number of Stove with Oven/Gas Range,0.14,3,0,0.00,0.0,0.00
43,Number of Motorized Banca,0.01,3,0,0.00,0.0,0.00
44,Number of Motorcycle/Tricycle,0.29,5,0,0.00,0.0,0.00

In [212]:
# A partir de aqui são só testes
#Questão 3
d3 = df

nomes = []
media = []
maximo = []
minimo = []
mediana = []
q1 = []
q3 =[]


def func4(nome):
    if d3[nome].dtype != 'O':
        nomes.append(nome)
        maximo.append(d3[nome].max())
        minimo.append(d3[nome].min())
        q1.append(d3[nome].quantile(q=0.25))
        q3.append(d3[nome].quantile(q=0.75))
        mediana.append(d3[nome].median())
        media.append(round(d3[nome].mean(),2))
        
dados = {
    'ID': nomes,
    'Média': media,
    'Máximo': maximo,
    'Minímo': minimo,
    'Q1': q1,
    'Mediana': mediana,
    'Q3': q3,
}

def func3(nome):
    if d3[nome].dtype != 'O':
#        d3.loc[d3[nome] <10, nome] = 0
        d3.loc[d3[nome]>3, [nome]]=1


#df.loc[df['line_race'] == 0, 'rating'] = 0
       
for nome in heads[1:]:
    func3(nome)
    
#for nome in heads[1:]:
#    func4(nome)

C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\Gartarok\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [176]:
if  df['Main Source of Income'].dtype == 'O':
    print('sim')
    print(df.at[1,'Main Source of Income'])
else:
    print('não')
    print(df.at[1,'Main Source of Income'])

sim
Wage/Salaries

In [218]:
#df.dtypes
#df['ID'].dtype == 'O'
#df['Household Head Age'].str.isnumeric()
#df[''].str.isnumeric()
#df['Main Source of Income'].dtype.kind in 'biufc'
#df['Household Head Age'].dtype.kind in 'biufc'
#df['Household Head Age'].dtype
#df['Main Source of Income'].dtype

dados = {
    'Aula':[1,2,3,4,5],
    'Curso':[1,2,3,4,5]
}
df = pd.DataFrame(dados)
df
df.loc[df['Aula']>3, ['Aula']]=1
df

   Aula  Curso
0     1      1
1     2      2
2     3      3
3     1      4
4     1      5